#feedback-form div.form-radios{
	overflow: hidden;
}
#feedback-form div.form-radios div.form-item{
	float: left;
	padding-right: 10px;
}
.feedback-tick-mark th, .feedback-tick-mark td{
	border: 1px solid gray;
}
.feedback-message th, .feedback-message td{
	width: 50%;
}
.feedback-tick-mark td{
	text-align: center;
}
.feedback-tick-mark .big-column{
	width: 50%;
	text-align: left;
}
#qustion-and-answer{

}
#qustion-and-answer p.question{
	font-weight: bold;
	margin-bottom: 0px;
}
#qustion-and-answer p.answer{
	padding-left: 20px;
	margin-bottom: 0px;
}
.back-to-completed-ws{
	padding:0;
	text-align: right;
	margin:0;
	line-height: 14px; 
}