.academic_details .workshop-form #academic-details-form{
	overflow: hidden;
	margin-bottom: 5px;
	width: 250px;
	margin: auto;
}
.academic_details .workshop-form #academic-details-form .form-item{
	float: left;
	margin-right: 10px;
}
.academic_details .workshop-form #academic-details-form .form-submit{
	float: left;
	margin: 1em 0;
}
.academic_details .academic-data{
	clear: both;
	text-align: center;
}


.org-user-pass{
	display: none;
}
.date-and-time{
	overflow: hidden;
	width: 100%;
}
.date-and-time label{
	float: left;
	width: 100%;
}
.date-and-time div.form-item{
	float:left;
	padding-right: 10px;
}
.skype-request{
	overflow: hidden;
	width: 100%;
}

.skype-request div.form-radios label{
	float: left;
}

#feedback-form div.form-radios{
	overflow: hidden;
}
#feedback-form div.form-radios div.form-item{
	float: left;
	padding-right: 10px;
}
.feedback-tick-mark th, .feedback-tick-mark td{
	border: 1px solid gray;
}
.feedback-message th, .feedback-message td{
	width: 50%;
}
.feedback-tick-mark td{
	text-align: center;
}
.feedback-tick-mark .big-column{
	width: 50%;
	text-align: left;
}
#qustion-and-answer{

}
#qustion-and-answer p.question{
	font-weight: bold;
	margin-bottom: 0px;
}
#qustion-and-answer p.answer{
	padding-left: 20px;
	margin-bottom: 0px;
}
.back-to-completed-ws{
	padding:0;
	text-align: right;
	margin:0;
	line-height: 14px; 
}